<div class="film-details" *ngIf="film">
    <button class="toggle-read-more" (click)="toggleReadMoreView()">Read {{isReadMoreShown ?  "Less": "More" }}</button>
    <div *ngIf="isReadMoreShown">
        <div class="summary">{{film.summary}}</div>
        <div>
            <div *ngIf="trailerUrl">
                    <iframe width="560" height="315" [src]="trailerUrl" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <button class="toggle-plot" (click)="toggleDetailsView()">{{areDetailsShown ? "Hide" : "Show"}} spoiler</button>
        <div *ngIf="areDetailsShown">
            <div class="plot">{{film.plot}}</div>
            <button class="toggle-plot" (click)="toggleDetailsView()">{{areDetailsShown ? "Hide" : "Show"}} spoiler</button>
        </div>
    </div>
</div>